.link-primary {
  @apply flex items-center
    py-2 px-2 pl-4
    rounded-full
    text-lg
    md:w-fit
    md:bg-transparent
    md:hover:bg-transparent
    md:uppercase
    md:font-medium
    md:pl-2 md:py-4 md:px-6
    text-black
    dark:text-white
    hover:bg-action-move-secondary
    dark:hover:bg-action-move-secondary-dark
    md:dark:hover:bg-transparent
    hover:text-action
    dark:hover:text-action;
}
.link-primary-active {
  @apply flex items-center
    py-2 px-2 pl-4
    rounded-full
    text-lg
    md:w-fit
    md:bg-transparent
    md:hover:bg-transparent
    md:uppercase
    md:font-medium
    md:pl-2 md:py-4 md:px-6
    text-white
    md:text-high
    bg-high;
}
.link-brand {
  @apply flex items-center
    font-styling
    text-3xl
    md:text-4xl
    md:pl-2
    hover:text-action;
}
.link-brand-active {
  @apply flex items-center
    font-styling
    text-3xl
    md:text-4xl
    md:pl-2
    text-high;
}
.link-icon {
  @apply flex items-center
    p-1
    rounded-full
    w-fit
    hover:bg-action-move-secondary
    dark:hover:bg-action-move-secondary-dark
    hover:text-action;
}
.link-icon-active {
  @apply flex items-center
    p-1
    rounded-full
    w-fit
    text-high
    bg-transparent;
}
.link-tertiary {
  @apply flex items-center justify-center md:justify-end
    py-2
    hover:text-action;
}
.link-tertiary-active {
  @apply flex items-center justify-center md:justify-end
    py-2
    text-high;
}
.link-secondary {
  @apply flex items-center
    py-2 px-2 pl-4
    rounded-full
    hover:bg-action-move-secondary
    dark:hover:bg-action-move-secondary-dark
    hover:text-action;
}
.link-secondary-active {
  @apply flex items-center
    py-2 px-2 pl-4
    rounded-full
    text-white
    bg-high;
}
.link-basic {
  @apply flex items-center justify-center
    text-action
    hover:underline;
}
.link-basic-active {
}
