.btn-primary-app {
  @apply flex items-center justify-center

        /* padding */
        px-3 py-1
        md:px-5 md:py-2

        /* text */
        text-btn-primary-first
        sm:text-btn-primary-second
        md:text-btn-primary-third

        /* border */
        rounded-md

        /* color */
        bg-action
        hover:bg-action-move;
}
