.divisor-small {
  @apply h-0.5 w-11/12
    /* margin */
    mt-1 mb-1
    mx-auto

    /* color */
    bg-primary
    dark:bg-primary-dark;
}

.divisor-normal {
  @apply h-0.5 w-11/12
    /* margin */
    mt-2 mb-2
    mx-auto

    /* color */
    bg-primary
    dark:bg-primary-dark;
}

.divisor-large {
  @apply h-0.5 w-11/12
    /* margin */
    mt-4 mb-4
    mx-auto

    /* color */
    bg-primary
    dark:bg-primary-dark;
}
