.btn-secondary-app {
  @apply flex items-center

    /* padding */
    py-2 px-2 pl-4
    md:px-4

    /* border */
    rounded-full

    /* color */
    hover:bg-action-move-secondary
    dark:hover:bg-action-move-secondary-dark;
}
