.footer-app {
  @apply px-4 py-8
    md:px-28 md:py-0 md:pb-4 md:pt-20
    text-black dark:text-white
    bg-secondary
    dark:bg-secondary-dark;
}

.footer-menu-secondary {
  @apply flex flex-col md:flex-row-reverse 
    md:mb-10 
    justify-start 
    md:justify-between 
    md:items-start;
}
